<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<Groups>
		<!-- Example xml structure for custom jobs, you can create as many groups with jobs as you want here -->
		<Group name="WorkB">
			<Jobs>
        <!--WorkB Auto & Test-->
				<Job id="bt3" />
        <!--WorkB Deploy Intern-->
				<Job id="WorkB_WorkBBuildPackageDeployTestDemosSuperAwesome" />
        <!--WorkB Nightly-->
				<Job id="bt2" />
			</Jobs>
		</Group>
		<Group name="MSP">
			<Jobs>
        <!--MSP Auto & Test-->
				<Job id="bt8" />
        <!--MSP Nightly-->
				<Job id="bt5" />
			</Jobs>
		</Group>
		<Group name="Modules">
			<Jobs>
        <!--ASR Auto & Test-->
				<Job id="WorkB_WorkBModuleAsr" />
        <!--SigningPlatform trunk auto-->
				<Job id="Modules_SigningPlatformTrunkAuto" />
        <!--Payroll Gateway Auto-->
        <Job id="PayrollGateway_PayrollGatewayAuto" />
			</Jobs>
		</Group>
	</Groups>
</Settings>